.navbar{
    background-color: #222222;
    position: sticky;
    top: 0;
    z-index: 10;
    height: 10vh;
    line-height: 10vh;
}
nav ul li{
    display: inline-block;
    transition: all .5s ease-in;
    margin: 0 30px 0 0;
}
nav ul li a{
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 15px;
    transition: all .5s ease-in-out;
    opacity: 0.8;
}
nav ul li a:hover{
    color: #31b675;
}
.menu-icon{
    display: none;
}
.login-area a{
    font-size: 13px;
    color: #fff;
    opacity: 0.8;
    font-weight: 100;
}
.login-area i{
    margin: 0 5px 0 15px;
    font-size: 13px;
    color: #fff;
}
.login-area button{
    margin-left: 20px;
}


@media screen and (max-width: 768px) {
    .login-area{
        position: absolute;
        right: 20px;
    }
    .navbar{
        text-align: center;
    }
    nav ul{
        display: block!important;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all .5s ease;
    }
    nav ul li{
        display: block;
    }
    nav ul.active{
        background-color: #31b675;
        left: 0;
        opacity: 1;
        transition: 0.5s;
        z-index: 100;
    }
    nav ul li a{
        font-weight: 400;
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        left: 20px;
        font-size: 1.8rem;
        cursor: pointer;
    }
    .fa-times{
        font-size: 2rem;
    }
}

/* ------------- header start -------- */

header{
    padding: 40px 0 20px 0; 
} 
header .box{
    margin: 0 0 0 30px;
}
header a{
    color: grey;
    font-size: 13px;
}
header i{
    color: #31b675;
    font-size: 40px;
    margin-right: 15px;
}
header .text{
    margin-top: 10px;
}
header h4{
    line-height: 10px;
}

@media screen and (max-width: 768px) {
    header .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    header .contact{ 
        align-items: center;
        justify-content: center;
    }
    header a{
        font-size: 13px; 
    }
    header i{
        font-size: 30px; 
        margin-right: 5px;
        margin-top: 10px;
    }
}

/* ------------- header end -------- */
