@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}
.flex{
    display: flex;
}
.flex_space{
    display: flex;
    justify-content: space-between;
}
.container{
    max-width: 85%;
    margin: auto;
}
button{
    border: none;
    background-color: none;
    outline: none;
    cursor: pointer;
}
li{
    list-style-type: none;
}
.primary-btn{
    background-color: #31b675;
    color: #fff;
    padding: 10px 20px;
    font-weight: 400;
    transition: 0.5s;
}
.primary-btn:hover{
    background-color: white;
    color: #31b675;
}
.nav-links-mobile{
    display: none;
}
nav i{
    color: white;
}